<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	<!--用户管理信息service -->
	<bean id="userService" class="cn.ystk.pro.user.service.impl.UserServiceImpl" />
	<bean id="tangService" class="cn.ystk.pro.tang.service.impl.TangServiceImpl" />
	<!-- 任务管理service -->
	<bean id="taskService" class="cn.ystk.pro.task.service.impl.TaskServiceImpl" />
	<!--菜单管理信息service -->
	<bean id="menuService" class="cn.ystk.pro.menu.service.impl.MenuServiceImpl" />
	<!--角色管理信息service -->
	<bean id="roleService" class="cn.ystk.pro.role.service.impl.RoleServiceImpl" />
	<!--用户角色中间表service -->
	<bean id="userRoleService" class="cn.ystk.pro.userrole.service.impl.UserRoleServiceImpl" />
	<!--角色模块中间表service -->
	<bean id="roleModuleService"
		class="cn.ystk.pro.rolemodule.service.impl.RoleModuleServiceImpl" />
	<!--照片表service -->
	<bean id="photoService" class="cn.ystk.pro.photo.service.impl.PhotoServiceImpl" />
	<!--照片详情表service -->
	<bean id="photoDetainsService"
		class="cn.ystk.pro.photodetains.service.impl.PhotoDetainsServiceImpl" />
</beans>